{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partie entre {{ partie.joueur1.username }} et {{ partie.joueur2.username }}</h1>
    <h2>{{ user.id }} - {{ tour }}</h2>
    {% if tour==user.id %}
    <h2>A toi de jouer !</h2>
    {% else %}
    <h2>C'est au tour de votre adversaire</h2>
    {% endif %}
    <div>

        <button type="submit" value="valid_action">Validez votre action</button>
    </div>

        <div>
            <h2>Cartes du joueur 1</h2>
            <table border="solid">
                <tr>
                    <td>Vos cartes</td>
                    {% for carte in plateau.mainJ1 %}
                        {% if user.id==partie.joueur1.id %}
                            <td>{{ cartes[carte].categorie.libelle }} <br>
                            <img src="{{asset('assets/img/cartes/'~cartes[carte].id~'.png') }}" alt="cartes" width="100">
                            </td>
                        {% elseif user.id==partie.joueur2.id %}
                            <td>
                                <img src="{{asset('assets/img/back.png') }}" alt="cartes" width="100">
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>

                {% if user.id==partie.joueur1.id %}
                    <tr>
                    <td>Les placer</td>
                    {% for carte in plateau.mainJ2 %}

                            <td>
                                <input value="{{ cartes[carte].id }}" type="radio">
                            </td>

                    {% endfor %}
                    </tr>
                {% endif %}

            </table>
        </div>


        <div>
            <h2>Cartes du joueur 2</h2>
            <table border="solid">
                <tr>
                    <td>Vos cartes</td>
                    {% for carte in plateau.mainJ2 %}
                        {% if user.id==partie.joueur2.id %}
                        <td>{{ cartes[carte].categorie.libelle }}
                            <img src="{{asset('assets/img/cartes/'~cartes[carte].id~'.png') }}" alt="cartes" width="100">
                        </td>
                        {% elseif user.id==partie.joueur1.id %}
                            <td><img src="{{asset('assets/img/back.png') }}" alt="cartes" width="100"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% if user.id==partie.joueur2.id %}
                    <tr>
                        <td>Les placer</td>
                        {% for carte in plateau.mainJ1 %}

                                <td><input value="{{ cartes[carte].id }}" type="radio"></td>

                        {% endfor %}
                    </tr>
                {% endif %}

            </table>
        </div>

        <hr>
    <table border="solid">
        <tr>
            <td>Catégories</td>
            <td>Cordes</td>
            <td>Clavier</td>
            <td>Bois</td>
            <td>Cuivre</td>
            <td>Percussion</td>
        </tr>
        <tr>
            <td>Poser</td>
            <td><input value="corde" type="radio"></td>
            <td><input value="Clavier" type="radio"></td>
            <td><input value="Bois" type="radio"></td>
            <td><input value="Cuivre" type="radio"></td>
            <td><input value="Percussion" type="radio"></td>
        </tr>
        <tr>
            <td>Cartes posées par J1</td>
            <td>Vide</td>
            <td>Vide</td>
            <td>Vide</td>
            <td>Vide</td>
            <td>Vide</td>
        </tr>
        <tr>
            <td>Cartes posées par J2</td>
            <td>Vide</td>
            <td>Vide</td>
            <td>Vide</td>
            <td>Vide</td>
            <td>Vide</td>
        </tr>
        <tr>
            <td>Defausse</td>
            <td>Vide</td>
            <td>Vide</td>
            <td>Vide</td>
            <td>Vide</td>
            <td>Vide</td>
        </tr>
        <tr>
            <td>Récupérer Défausse</td>
            <td><input value="defausse_corde" type="radio"></td>
            <td><input value="defausse_clavier" type="radio"></td>
            <td><input value="defausse_bois" type="radio"></td>
            <td><input value="defausse_cuivre" type="radio"></td>
            <td><input value="defausse_percussion" type="radio"></td>
        </tr>

    </table>


    <hr>
    <div>
        <h2>Pioche</h2>
        <div>
            <button type="submit">Récupérer votre carte</button>
        </div>
    </div>


{% endblock %}