{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partie entre {{ partie.joueur1.username }} et {{ partie.joueur2.username }}</h1>
    <h2>La Pioche est vide, c'est la fin du jeu !</h2>

    <h3>Le Gagnant : {% if plateau.pointj1 >= plateau.pointj2 %} {{ partie.joueur1.username }} {% else %} {{ partie.joueur2.username }} {%  endif %} </h3>

    <h4>Points du joueur 1 : {{ plateau.pointj1 }}</h4>
    <h4>Points du joueur 2 : {{ plateau.pointj2 }}</h4>
    <p><a href="{{ path('joueur_parties_add') }}">Défier un autre joueur</a></p>



{% endblock %}