{% trans_default_domain 'FOSUserBundle' %}
<h1>Votre profil</h1>
<div id="profil">

    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
    <button><a href="{{ path('fos_user_profile_edit') }}">Modifier vos informations</a></button>
    <button><a href="{{ path('fos_user_change_password') }}">Modifier le mot de passe</a></button>
</div>
