<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/screen.css') }}">
<script src=" {{asset('assets/js/main.js') }}"></script>

<header class="main-header">
    <div class="bg">
        <img class="yugiohhaut" src="{{ asset('assets/img/dos1.png') }}">
        <img class="yugiohhaut" src="{{ asset('assets/img/dos2.png') }}">
        <img class="yugiohhaut" src="{{ asset('assets/img/dos3.png') }}">
        <img class="yugiohhaut" src="{{ asset('assets/img/dos4.png') }}">
        <img class="yugiohhaut" src="{{ asset('assets/img/dos5.png') }}">
    </div>
    <div class="container center">
        <input class="button score" type="button" value="Score :">
        <input class="button pioche" type="button" value="Pioche">
    </div>
</header>

<div class="bg2">
    <img class="yugiohmid" src="{{ asset('assets/img/dos1.png') }}">
    <img class="yugiohmid" src="{{ asset('assets/img/dos2.png') }}">
    <img class="yugiohmid" src="{{ asset('assets/img/dos3.png') }}">
    <img class="yugiohmid" src="{{ asset('assets/img/dos4.png') }}">
    <img class="yugiohmid" src="{{ asset('assets/img/dos5.png') }}">
    <div class="bas">
        <img class="yugiohbas" src="{{ asset('assets/img/dos1.png') }}">
        <img class="yugiohbas" src="{{ asset('assets/img/dos2.png') }}">
        <img class="yugiohbas" src="{{ asset('assets/img/dos3.png') }}">
        <img class="yugiohbas" src="{{ asset('assets/img/dos4.png') }}">
        <img class="yugiohbas" src="{{ asset('assets/img/dos5.png') }}">
    </div>
</div>
